html, body, main {
	height: 100%;
}

main {
	position: relative;
	bottom: 64px;
}

nav {
	background-color: $dark-primary-color;
	position: relative;
	z-index: 1;
}

// Buttons
.btn, .btn-large {
	background-color: $dark-primary-color;
	white-space: normal;
}

.btn:hover, .btn-large:hover {
	background-color: $light-primary-color;
}

.btn-large {
	height: 70px;
	line-height: 70px;
}

.btn--accent {
	background-color: $accent-color;
	margin-top: 50px;
}

// Collections
.collection.with-header {
	.collection-header {
		background-color: $dark-primary-color;
		color: $light-text;
		list-style: none;
	}

	.collection-header--trip {
		background-color: $light-text;
		color: $secondary-text;
	}
}

.collection {
	.collection-item.active {
		background-color: $accent-color;
	}

	a.collection-item {
		color: $primary-text;
	}
}

// Tabs
.tabs {
	background-color: $dark-primary-color;

	.tab {
		a {
			color: $light-text;
		}
	}

	.indicator {
		background-color: $light-text;
	}
}

// Tables

.table--col {
	overflow: scroll;
	max-height: 500px;
}

// Forms

/* Text inputs */

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {

  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $dark-primary-color;
    box-shadow: 0 1px 0 0 $dark-primary-color;
  }
}