// Typography
$font-size: 18px;

// Colors
$primary-color: #FF5722;
$dark-primary-color: #E64A19;
$light-primary-color: #FFCCBC;

$accent-color: #757575;
$divider-color: #BDBDBD;

$primary-text: #212121;
$secondary-text: #757575;
$light-text: #FFFFFF;