<div class="">
	<div class="container container--schedule">
		<div class="row">
			<div class="col l8 offset-l2">
				<img src="images/bartmap.png" alt="Map of BART train lines" class="materialboxed img--responsive">
			</div>
		</div>

		<div class="row">
			<div class="col s12">
		      <ul class="tabs z-depth-1">
		        <li class="tab col s2"><a href="#route1">Pittsburg-SFO</a></li>
		        <li class="tab col s2"><a href="#route2">Fremont-Richmond</a></li>
		        <li class="tab col s2"><a href="#route3">Richmond-Millbrae</a></li>
		        <li class="tab col s2"><a href="#route4">Dublin-Daly City</a></li>
		        <li class="tab col s2"><a href="#route5">Fremont-Daly City</a></li>
		        <li class="tab col s2"><a href="#route6">Coliseum-OAK</a></li>
		      </ul>
			</div>

			<div id="route1" class="col l12">
				<ul class="tabs z-depth-1">
					<li class="tab col l6"><a href="#route1a" ng-click="test()">Pittsburg-SFO</a></li>
					<li class="tab col l6"><a href="#route1b">SFO-Pittsburg</a></li>
				</ul>
			</div>

			<div id="route2" class="col l12">
				<ul class="tabs z-depth-1">
					<li class="tab col l6"><a href="#route2a">Fremont-Richmond</a></li>
					<li class="tab col l6"><a href="#b">Richmond-Fremont</a></li>
				</ul>
			</div>

			<div id="route3" class="col l12">
				<ul class="tabs z-depth-1">
					<li class="tab col l6"><a href="#a">Richmond-Millbrae</a></li>
					<li class="tab col l6"><a href="#b">Millbrae-Richmond</a></li>
				</ul>
			</div>

			<div id="route4" class="col l12">
				<ul class="tabs z-depth-1">
					<li class="tab col l6"><a href="#a">Dublin-Daly City</a></li>
					<li class="tab col l6"><a href="#b">Daly City-Dublin</a></li>
				</ul>
			</div>

			<div id="route5" class="col l12">
				<ul class="tabs z-depth-1">
					<li class="tab col l6"><a href="#a">Fremont-Daly City</a></li>
					<li class="tab col l6"><a href="#b">Daly City-Fremont</a></li>
				</ul>
			</div>

			<div id="route6" class="col l12">
				<ul class="tabs z-depth-1">
					<li class="tab col l6"><a href="#a">Coliseum-OAK</a></li>
					<li class="tab col l6"><a href="#b">Oak-Coliseum</a></li>
				</ul>
			</div>

			<div class="col s12 table--col" id="route1a">
				<table class="striped responsive-table">
					<thead>
						<th>poop</th>
					</thead>
					
					<tbody>
						<tr>
							<td>pee</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col s12 table--col" id="route1b">
				<table class="striped responsive-table">
					<thead>
						<th>pee</th>
					</thead>
					
					<tbody>
						<tr>
							<td>poop</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>