<!-- <div class="valign-wrapper"> -->
<!-- 	<div class="container container--trips">
		<div class="row">
			<div class="col m12">
		      <ul class="tabs z-depth-1">
		        <li class="tab col s3"><a href="#trip1">Trip 1</a></li>
		        <li class="tab col s3"><a href="#trip2">Trip 2</a></li>
		        <li class="tab col s3"><a href="#trip3">Trip 3</a></li>
		      </ul>
			</div>
		    <div id="trip1" class="col m12 trip">
		    	<div class="card-panel card-panel--trip">
		    		<div class="container">
		    			<header class="trip__header text--secondary center-align">
			    			<h4 class="">The Big Picture</h4>
			    			<div class="row trip__row">
			    				<div class="col m4 offset-m2"><p class="">Departs: 1:00PM</p></div>
			    				<div class="col m4"><p class="">Arrives: 2:00PM</p></div>
			    			</div>
			    			<div class="row">
			    				<div class="col m8 offset-m2">
			    					<p class="">Costs: $5.00 ($3.00 w/Compass)</p>
			    				</div>
			    			</div>
		    			</header>
		    			<section class="trip__body">
					      <ul class="collection with-header z-depth-1">
					        <li class="collection-header collection-header--trip"><h4 class="center-align">Step-By-Step</h4></li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					      </ul>
		    			</section>
		    		</div>
		    	</div>
		    </div>

		    <div id="trip2" class="col m12 trip">
		    	<div class="card-panel card-panel--trip">
		    		<div class="container">
		    			<header class="trip__header text--secondary center-align">
			    			<h4 class="">The Big Picture</h4>
			    			<div class="row trip__row">
			    				<div class="col m4 offset-m2"><p class="">Departs: 1:00PM</p></div>
			    				<div class="col m4"><p class="">Arrives: 2:00PM</p></div>
			    			</div>
			    			<div class="row">
			    				<div class="col m8 offset-m2">
			    					<p class="">Costs: $5.00 ($3.00 w/Compass)</p>
			    				</div>
			    			</div>
		    			</header>
		    			<section class="trip__body">
					      <ul class="collection with-header z-depth-1">
					        <li class="collection-header collection-header--trip"><h4 class="center-align">Step-By-Step</h4></li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					      </ul>
		    			</section>
		    		</div>
		    	</div>
		    </div>

		    <div id="trip3" class="col m12 trip">
		    	<div class="card-panel card-panel--trip">
		    		<div class="container">
		    			<header class="trip__header text--secondary center-align">
			    			<h4 class="">The Big Picture</h4>
			    			<div class="row trip__row">
			    				<div class="col m4 offset-m2"><p class="">Departs: 1:00PM</p></div>
			    				<div class="col m4"><p class="">Arrives: 2:00PM</p></div>
			    			</div>
			    			<div class="row">
			    				<div class="col m8 offset-m2">
			    					<p class="">Costs: $5.00 ($3.00 w/Compass)</p>
			    				</div>
			    			</div>
		    			</header>
		    			<section class="trip__body">
					      <ul class="collection with-header z-depth-1">
					        <li class="collection-header collection-header--trip"><h4 class="center-align">Step-By-Step</h4></li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					        <li class="collection-item">Alvin</li>
					      </ul>
		    			</section>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div> -->
<!-- </div> -->

<div class="container container--trips">
	<div class="row">
		<div class="col m12">
	      <ul class="tabs z-depth-1">
	        <li class="tab col s3" ng-repeat="trip in trips | limitTo: 3"><a href="#trip{{ trip.id }}">Trip {{ trip.id }} </a></li>
	      </ul>
		</div>

	    <div id="trip{{ trip.id }}" class="col m12 trip" ng-repeat="trip in trips | limitTo: 3">
	    	<div class="card-panel card-panel--trip">
	    		<div class="container">
	    			<header class="trip__header text--secondary center-align">
		    			<h4 class="">The Big Picture</h4>
		    			<div class="row trip__row">
		    				<div class="col m4 offset-m2"><p class="">Departs from  {{ trip['@attributes'].origin }} at {{ trip['@attributes'].origTimeMin }}</p></div>
		    				<div class="col m4"><p class="">Arrives at  {{ trip['@attributes'].destination }} at {{ trip['@attributes'].destTimeMin }}</p></div>
		    			</div>
		    			<div class="row">
		    				<div class="col m8 offset-m2">
		    					<p class="">Costs: ${{ trip['@attributes'].fare }} (${{ trip['@attributes'].clipper }} w/Clipper)</p>
		    				</div>
		    			</div>
	    			</header>
	    			
	    			<section class="trip__body">
				      <ul class="collection with-header z-depth-1">
				        <li class="collection-header collection-header--trip"><h4 class="center-align">Step-By-Step</h4></li>
				        <li class="collection-item" ng-if="!trip.leg[1]">Depart from the {{ trip.leg['@attributes'].origin }} station at {{ trip.leg['@attributes'].origTimeMin }} and arrive at the {{ trip.leg['@attributes'].destination }}</li>

				        <li class="collection-item" ng-if="trip.leg[1]" ng-repeat="leg in trip.leg">Depart from the {{ leg['@attributes'].origin }} station at {{ leg['@attributes'].origTimeMin }} and arrive at the {{ leg['@attributes'].destination }} station</li>
				      </ul>
	    			</section>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>