<div class="container container--trips">
	<div class="row">
		<div class="col m12 s12">
	      <ul class="tabs z-depth-1">
	        <li class="tab col s3" ng-repeat="trip in trips | limitTo: 3"><a href="#trip{{ trip.id }}">Trip {{ trip.id }} </a></li>
	      </ul>
		</div>

	    <div id="trip{{ trip.id }}" class="col m12 trip" ng-repeat="trip in trips | limitTo: 3">
	    	<div class="card-panel card-panel--trip">
	    		<div class="container">
	    			<header class="trip__header text--secondary center-align">
		    			<h4 class="">The Big Picture</h4>
		    			<div class="row trip__row">
		    				<div class="col m4 offset-m2"><p class="">Departs from  {{ trip['@attributes'].origin }} at {{ trip['@attributes'].origTimeMin }}</p></div>
		    				<div class="col m4"><p class="">Arrives at  {{ trip['@attributes'].destination }} at {{ trip['@attributes'].destTimeMin }}</p></div>
		    			</div>
		    			<div class="row">
		    				<div class="col m8 offset-m2">
		    					<p class="">Costs: ${{ trip['@attributes'].fare }} (${{ trip['@attributes'].clipper }} w/Clipper)</p>
		    				</div>
		    			</div>
	    			</header>
	    			
	    			<section class="trip__body">
				      <ul class="collection with-header z-depth-1">
				        <li class="collection-header collection-header--trip"><h4 class="center-align">Step-By-Step</h4></li>
				        <li class="collection-item" ng-if="!trip.leg[1]">Depart from the {{ trip.leg['@attributes'].origin }} station at {{ trip.leg['@attributes'].origTimeMin }} and arrive at the {{ trip.leg['@attributes'].destination }} station</li>

				        <li class="collection-item" ng-if="trip.leg[1]" ng-repeat="leg in trip.leg">Depart from the {{ leg['@attributes'].origin }} station at {{ leg['@attributes'].origTimeMin }} and arrive at the {{ leg['@attributes'].destination }} station</li>
				      </ul>
				      <p><a href="#planner" class="text--secondary link--underlined center-align">Plan a New Trip</a></p>
	    			</section>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>